<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd
	   					   http://www.springframework.org/schema/context
						  http://www.springframework.org/schema/context/spring-context-4.0.xsd
						  http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
                          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
                          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<context:annotation-config />
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<bean id="demo" class="com.mycompany.demo.DemoFactoryBean">
	 <property name="demos">
	   <set>
	  	    <ref bean="multipleThreadInsert"/>
	  	    <ref bean="readUncommitedDemo" />
	  	    <ref bean="readCommitedDemo" />
	   </set>
	  </property>
	</bean>
	
	<bean id="multipleThreadInsert" class="com.mycompany.demo.MultipleThreadInsertDemo" />
	<bean id="readUncommitedDemo" class="com.mycompany.demo.ReadUncommitedDemo" />
	<bean id="readCommitedDemo" class="com.mycompany.demo.ReadCommitedDemo" />
	

	<bean id="service" class="com.mycompany.service.ServiceImpl" />

	<bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/hibernate_learning" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>

	<bean id="mySessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="myDataSource" />
		<property name="mappingResources">
			<list>
				<value>Events.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>


	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="mySessionFactory"></property>
	</bean>

	
	<bean id="eventDAO" class="com.mycompany.dao.EventDAOImpl">
		<property name="sessionFactory" ref="mySessionFactory"></property>
	</bean>
	

</beans>